.contact10-container1 {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 40px 20px;
}

.contact10-max-width {
  align-self: center;
  width: 100%;
  max-width: 1200px;
}

.contact10-content1 {
  width: 100%;
  justify-content: flex-start;
}

.contact10-left-side {
  flex: 1;
  display: flex;
  margin-left: 70px;
  flex-direction: column;
}

.contact10-subscribe-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.contact10-subscribe-section h3 {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 30px;
  width: 600px;
}

.contact10-subscribe-section p {
  width: 600px;
  margin-bottom: 30px;
  font-size: 18px;
}

.contact10-email-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 130%;
}

.contact10-email-input {
  width: 250px;
  padding: 10px;
  margin-right: 10px; 
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  color: var(--dl-color-theme-primary2);
  box-sizing: border-box;
}
.contact10-email-input-wrapper [type="email"]{
  border: 2px solid var(--dl-color-theme-primary1);
}
.contact10-subscribe-button {
  margin-bottom: 25px;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 10px;
  float: right;
  width: 200px;
  height: 45px;
  border: 2px solid var(--dl-color-theme-primary1);
  background-color: white;
  color: var(--dl-color-theme-primary1);
  font-size: 17px;
  font-weight: 600;
}

.contact10-right-side {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
  gap: 1px;
}

.contact10-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact10-section h3,
.contact10-section a {
  margin: 1px;
  font-size: 14px;
}

@media(max-width: 991px) {
  .contact10-container1 {
    flex-direction: column;
    align-items: center;
  }
  .contact10-right-side {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media(max-width: 767px) {
  .contact10-email-input {
    width: 100%;
  }
}
